@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 여기서는 폰트를 굳이 강제하지 않고, Tailwind의 font-sans 사용을 기본으로 합니다. */
body {
  background: var(--background);
  color: var(--foreground);
}
